#banner {
  background: url('../public/image/banner1.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  margin-top: 0px;
  margin: 0px auto;
  padding: 0px;
  text-shadow: 0 0 50px var(--shadow);
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  #banner {
    height: 300px;
    width: 100%;
  }
}