#banner {
  background: url('../public/image/banner.jpg') no-repeat;
  background-size: cover;
  background-position: 43% 0;
  position: relative;
  height: 400px;
  box-shadow: 0 0 10px var(--shadow);
}

@media screen and (max-width: 800px) {
  #banner {
    height: 300px;
    box-shadow: none;
  }
}