#main-container {
  background: var(--secondary);
  padding: 30px;
  box-shadow: 0 0 10px var(--shadow);
}

#container {
  text-shadow: 0 0 5px var(--shadow);
  height: 100%;
  width: 90%;
  color: var(--secondary);
  margin: 20px auto;
  font-size: 32px;
  padding: 20px;
}

#back1 {
  background: rgba(0, 0, 0, 0.3) url('../public/image/1.jpeg') no-repeat;
  background-position: 42% 50%;
  background-size: cover;
  border-radius: 20px;
  background-blend-mode: darken;
}

#back2 {
  background: rgba(0, 0, 0, 0.3) url('../public/image/11.jpeg') no-repeat;
  background-position: 53% 0%;
  background-size: cover;
  border-radius: 20px;
  background-blend-mode: darken;
}
@media screen and (max-width: 800px) {
  #main-container {
    box-shadow: none;
  }

  body {
    background: var(--secondary);
  }
}
