@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Courgette&display=swap');
:root {
  --primary: #4169e1;
  --secondary: #ffffff;
  --back: #aaaaaa;
  --shadow: #4169e1;
}

h1 {
  font-family: 'Clicker Script', cursive;
}