img {
  height: 100%;
  width: 100%;
}

#galery img {
  height: 40%;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 0 15px var(--shadow);
  margin: 10px 10px auto;
}

#galery img:hover {
  transform: scale(1.2);
}

#divisor {
  margin: 10px;
  width: 80%;
}